- for_context ||= context
- name ||= "#{for_context.resource.name}[#{field.name}]"
- value ||= field.read(for_context.entity)
- opts = { name: name, value: value }
- opts[:id] = id if defined? id
input type="hidden" *opts
