.admin-it-filters {
  margin-right: 5px;
}

.admin-it-filter-content {
  height: 150px;
  overflow-y: scroll;
  line-height: 2em;
}

.admin-it-filter-content.well {
  padding: 5px;
}

.admin-it-filter-content .tab-pane {
  margin-top: 0px;
}

.admin-it-filter-content a {
  padding-top: 0.4em;
}

.tab-pane {
  margin-top: 10px;
}

.fileupload-image img, .admin-show-image {
  max-width: 500px;
}

[data-toggle="file-upload"] {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  font-size: 600px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  margin-left: -450px;
}

.file-upload-wrapper {
  position: absolute;
  overflow: hidden;
  z-index: 10000;
}

#image_image_button {
  margin-top: 10px;
}

.picker-map {
  width: 600px !important;
}

.picker-map-div {
  height: 400px !important;
}

.admin-it-toolbar .btn {
  margin-right: 5px;
}
