/**
*= require admin_it/bootstrap.min
*= require admin_it/font-awesome.min
*= require admin_it/jquery.fileupload
*= require admin_it/jquery.fileupload-ui
*= require select2
*= require admin_it/admin_it
*/
